@model BestSellingBooks.ViewModels.AuthorViewModel
@{
    ViewBag.Title = "Details";
    Layout = null;
}
<div class="modal fade" id="detailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Author Full Details</h4>
            </div>
            <div class="modal-body">
                <h3>Author Comprehensive Details </h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Biography)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Biography)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Detail", "Authors", FormMethod.Post,
                    new { data_bind = "submit: deleteAuthor" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="progress" data-bind="visible: sending">
                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                 role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>